<%#= form_for @calendar do |f| %>
<%= form_tag "/calendars", method: :post  do |f| %>
  <%#= f.error_messages %>
 
  <div class="form-group row">
    <%= label_tag :name, "NAME", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= text_field_tag :name, "TEST_USER_#{Time.now.to_i}", class: "form-control" %>
    </div>
  </div>


  <div class="form-group row">
    <%= label_tag :per_wash, "PER_WASH", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= select_tag :per_wash, options_for_select([['Charge',0],['1Weeks',1],['2Weeks',2]]), class: "form-control" %>
    </div>
  </div>
 

  <div class="form-group row">
    <%= label_tag :do_start, "DoStart", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= text_field_tag :do_start, "2017-03-07", class: "form-control" %>
    </div>
  </div>


  <div class="form-group row">
    <%= label_tag :do_until, "DoUntil", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= text_field_tag :do_until, "2017-06-30", class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= label_tag :day_sel, "DAY_SEL", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= select_tag :day_sel, options_for_select([['Mon',0],['Tues',1],['Wednes',2],['Thur',3],['Fri',4],['Sat',5],['Sun',6]]), class: "form-control" %>
      <%# Date.today.beginning_of_week => Monday %>
    </div>
  </div>

 
  <div class="form-group row">
    <%= label_tag :time_sel, "TIME_SEL", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= select_tag :time_sel, options_for_select([['10:00','10:00'],['13:00','13:00'],['16:00','16:00']]), class: "form-control" %>
    </div>
  </div>

 
  <div class="form-group row">
    <%= label_tag :phone, "PHONE", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= text_field_tag :phone , "010-1234-5678", class: "form-control" %>
    </div>
  </div>
 
  <div class="form-group row">
    <%= label_tag :address, "ADDRESS", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= text_field_tag :address, "TEST_LOCATION", class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= label_tag :car_number, "CAR_NUMBER", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= text_field_tag :car_number, "TEST_CAR_NUMBER", class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= label_tag :memo, "MEMO", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= text_area_tag :memo, "TEST_MEMO_CONTENT", class: "form-control" %>
    </div>
  </div>


  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <%= submit_tag "Save", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
